In [23]:
# Load dependencies

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [24]:
# Load data from the csv file

datadf = pd.read_csv("Dataset/fraud_data.csv")

# Descriptive statistics of the data
print(datadf.describe())

# Describe the data
print(datadf.info())

                amt           lat          long      city_pop     merch_lat  \
count  14446.000000  14446.000000  14446.000000  1.444600e+04  14446.000000
mean     124.430073     39.787692   -110.874225  1.065370e+05     39.787991
std      231.352587      5.317039     12.985813  2.902916e+05      5.360593
min        1.000000     20.027100   -165.672300  4.600000e+01     19.032689
25%       12.080000     36.715400   -120.415800  4.930000e+02     36.794655
50%       51.520000     39.666200   -111.098500  1.645000e+03     39.620953
75%      101.030000     41.940400   -101.136000  3.543900e+04     42.275740
max     3261.470000     66.693300    -89.628700  2.383912e+06     67.510267

         merch_long
count  14446.000000
mean    -110.874892
std       12.995596
min     -166.670685
25%     -120.146253
50%     -111.192629
75%     -100.446822
max      -88.646366
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14446 entries, 0 to 14445
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   trans_date_trans_time  14446 non-null  object
 1   merchant               14446 non-null  object
 2   category               14446 non-null  object
 3   amt                    14446 non-null  float64
 4   city                   14446 non-null  object
 5   state                  14446 non-null  object
 6   lat                    14446 non-null  float64
 7   long                   14446 non-null  float64
 8   city_pop               14446 non-null  int64
 9   job                    14446 non-null  object
 10  dob                    14446 non-null  object
 11  trans_num              14446 non-null  object
 12  merch_lat              14446 non-null  float64
 13  merch_long             14446 non-null  float64
 14  is_fraud               14446 non-null  object
dtypes: float64(5), int64(1), object(9)
memory usage: 1.7+ MB
None

In [25]:
# Convert 'trans_date_trans_time' column to datetime type
datadf['trans_date_trans_time'] = pd.to_datetime(datadf['trans_date_trans_time'], format='%d-%m-%Y %H:%M')

# Extract date components from 'trans_date_trans_time'
datadf['trans_year'] = datadf['trans_date_trans_time'].dt.year
datadf['trans_month'] = datadf['trans_date_trans_time'].dt.month
datadf['trans_day'] = datadf['trans_date_trans_time'].dt.day
datadf['trans_hour'] = datadf['trans_date_trans_time'].dt.hour
datadf['trans_minute'] = datadf['trans_date_trans_time'].dt.minute
datadf['trans_second'] = datadf['trans_date_trans_time'].dt.second

# Convert 'dob' column to datetime type 
datadf['dob'] = pd.to_datetime(datadf['dob'], format='%d-%m-%Y')

# Extract year from 'dob'
datadf['dob_year'] = datadf['dob'].dt.year


# Drop unwanted rows and clean up formatting
datadf = datadf[(datadf['is_fraud'] == "0") | (datadf['is_fraud'] == "1")]
datadf.dropna()
datadf = datadf[datadf["amt"]<=1500]
datadf['merchant'] = datadf['merchant'].str.replace('"', '')
datadf['job'] = datadf['job'].str.replace('"', '')

# Create sub-dataframes and print confines of dataset
datadf #complete and cleaned dataframe
#frauddf = datadf[datadf["is_fraud"]=="1"] #dataframe of all fradulent data (best for after all columns are added)
#truedf = datadf[datadf["is_fraud"]=="0"] #dataframe of all clean data (best for after all columns are added)

# Print the number of transactions in the dataset
print(f'The dataset contains {len(datadf)} transactions.')
# Print the time period of the dataset
print(f'The dataset transactions begin on {datadf["trans_date_trans_time"].min()}.')
print(f'The dataset transactions end on {datadf["trans_date_trans_time"].max()}.')

The dataset contains 14435 transactions.
The dataset transactions begin on 2019-01-01 00:00:00.
The dataset transactions end on 2020-12-31 23:59:00.

### Task 4: Analyze Merchants and Categories with Higher Fraud Incidence

- **Assigned to Person D:**
  - Identify which merchants and categories have the highest rates of fraud by calculating fraud incidence for each.

In [28]:
data_is_fraud = datadf[datadf["is_fraud"] == "1"]

merchants = []
categories = []
fraud_counts = []

# Iterate over the filtered data
for i, row in data_is_fraud.iterrows():
    merchant = row['merchant']
    category = row['category']
    
    if merchant not in merchants:
        merchants.append(merchant)
        categories.append(category)
        fraud_counts.append(1)
    else: 
        index = merchants.index(merchant)
        fraud_counts[index] += 1

# Create the DataFrame with merchants, categories, and fraud counts
merchant_fraud_df = pd.DataFrame({
    "Merchant": merchants,
    "Category": categories,
    "Fraud Count": fraud_counts
})

# Sort the DataFrame by fraud count in descending order
sorted_merchant_fraud_df = merchant_fraud_df.sort_values(by="Fraud Count", ascending=False)

sorted_merchant_fraud_df.head(10)

                                 Merchant      Category  Fraud Count
24                         Kiehn-Emmerich   grocery_pos           20
76   Romaguera, Cruickshank and Greenholt  shopping_net           18
55                        Kerluke-Abshire  shopping_net           18
123                             Kunze Inc   grocery_pos           16
70                            Kilback LLC   grocery_pos           15
27                             Terry-Huel  shopping_net           14
3                          Murray-Smitham   grocery_pos           14
159                   Strosin-Cruickshank   grocery_pos           14
32                         Kutch and Sons   grocery_pos           14
10        Gottlieb, Considine and Schultz  shopping_net           13